include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/sprite
		include ../common/header
		include ../common/1home
		include ../common/2sections
		include ../common/3reasons
		include ../common/4sistem
		include ../common/5day
		include ../common/6source
		include ../common/7team
		include ../common/8reviews
		include ../common/9gallery
		include ../common/10schedule
		include ../common/11contact
		include ../common/footer
		include ../common/modal
	// END body