include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body.page-schedule
		include ../common/sprite
		include ../common/header
		include ../common/schedule-part
		include ../common/modal
	// END body