.schedule {
    padding: 113px 0 126px;
    background: #ffea91;
    background: url('../img/schedule-bg.png') no-repeat;
    background-size: 100% 100%;
    @media screen and (max-width: 880px) {
        background-size: cover;
        padding-bottom: 66px;
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        @media screen and (max-width: 880px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        &:after {
            content: "";
            position: absolute;
            width: 189px;
            height: 139px;
            top: -16px;
            left: -95px;
            transform: rotate(-21deg);
            background: url('../img/fly.png') no-repeat;
        }
        &:before {
            content: "";
            position: absolute;
            width: 241px;
            height: 103px;
            bottom: -110px;
            left: -239px;
            background: url('../img/frog.png') no-repeat;
        }
    }
    &__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        padding-left: 5%;
        font-family: "Comfortaa", Arial, Helvetica, sans-serif;
        @media screen and (max-width: 880px) {
            padding: 20px 0 20px 40px;
            font-size: 16px;
        }
    }
    &__btn {
        margin-right: 14%;
        @media screen and (max-width: 1120px) {
            margin-right: 0;
        }
    }
}