.contact {
    margin-top: 28px;
    color: #fff;
    background: #80e67e;
    background: url('../img/contact-bg.png') no-repeat;
    background-position: center;
    padding: 160px 0 190px;

    @media screen and (max-width: 880px) {
        background-size: cover;
        padding: 100px 0;
    }

    &__title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 43px;
            height: 29px;
            top: -14px;
            right: 29px;
            background: url('../img/bug.png') no-repeat;
            background-size: contain;
        }
    }
    .subtitle {
        margin-bottom: 40px;
    }
    &__form {
        max-width: 790px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .btn-finish {
        text-align: center;
    }
    .btn {
        min-width: auto;
        max-width: 197px;
        margin: 0 auto 15px;
        padding: 22px 28px;
    }
    .form-line {
        display: block;
        label {
            display: block;
        }
        @media screen and (max-width: 500px){
            width: 100%;
        }
        &__wrap {
            display: flex;
        	@media screen and (max-width: 500px){
                flex-wrap: wrap;
            }
        }
        &+.form-line {
            margin-left: 10px;
            label {
        	    // @media screen and (max-width: 500px){
                //     margin-bottom: 34px;
                // }
            }
        	@media screen and (max-width: 500px){
                margin-left: 0;
            }
        }
    }
    .error-text {
        bottom: 5px;
    }
}
.agree-line {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    input[type="checkbox"]:checked+label:after {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        width: 7px;
        height: 4px;
        top: 35%;
        transform: translate(0,-50%);
        left: 2px;
        border: 1px solid #2a2a2a;
        border-top: none;
        border-right: none;
        background: 0 0;
        transform: rotate(-45deg);
    }
    label {
        position: relative;
        display: flex;
        padding-left: 23px;
        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            background: #fff;
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            left: 0;
        }
    }
    .agree-policy {
        padding-left: 10px;
        color: #fff;
        text-decoration: underline;
    }
    input {
        display: none;
    }
}
.form-line {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    @media screen and (max-width: 500px) {
        flex-wrap: wrap;
    }
    label {
        width: 100%;
        margin-bottom: 34px;
    }
    label + label {
        margin-left: 10px;
        @media screen and (max-width: 500px) {
            margin-left: 0;
        }
    }
}
input.empty_field {
    border: 1px solid red;
}