.home {
    position: relative; 
    padding-bottom: 61px;
    @media screen and (max-width: 1660px) {
        // overflow: hidden;
    }

    @media screen and (max-width: 880px) {
        // padding-bottom: 0;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 459px;
        height: 591px;
        background: url('../img/spot1.png') no-repeat;
        z-index: -1;
        @media screen and (max-width: 1450px) {
            // background-size: contain;
            // width: 250px;
            // height: 633px;
            // bottom: -313px;
        }
        @media screen and (max-width: 880px) {
            // content: none;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -100px;
        right: 0;
        width: 645px;
        height: 666px;
        background: url('../img/spot2.png') no-repeat;
        z-index: -1;
        @media screen and (max-width: 1450px) {
            // background-size: contain;
            // width: 250px;
            // height: 633px;
            // bottom: -313px;
        }
        @media screen and (max-width: 880px) {
            // content: none;
        }
    }
    .wrap {
        display: flex;

        @media screen and (max-width: 1450px) {
            overflow: hidden;
        }
        @media screen and (max-width: 880px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }
    &__body {
        width: 50%;
        max-width: 698px;
        padding-top: 46px;
        padding-right: 20px;
        padding-bottom: 150px;
        @media screen and (max-width: 880px) {
            width: 100%;
            max-width: none;
            background: url('../img/home-bg-mob.jpg') no-repeat;
            background-position: bottom right;
            padding: 40px 180px 40px 28px;
            margin-top: 20px;
        }
        @media screen and (max-width: 500px) {
            padding-top: 19px;
            padding-right: 28px;
            padding-bottom: 87px;
            margin-top: 0;
        }
    }

    &__pic {
        position: relative;
        width: 50%;
        @media screen and (max-width: 880px) {
            // width: 100%;
            // min-height: 400px;
            // margin-top: -320px;
            // z-index: -1;
            display: none;
        }
        @media screen and (max-width: 880px) {
            // margin-top: -460px;
        }
        &:after {
            content: "";
            width: 704px;
            height: 704px;
            background: url('../img/home-bg.jpg') no-repeat;
            @media screen and (max-width: 880px) {
                width: 100%;
                height: 100%;
                filter: blur(5px);
                opacity: 0.3;
            }
        }
    }

    &__title {
        font-size: 94px;
        line-height: 91px;
        font-weight: 700;
        color: $accent;
        @media screen and (max-width: 1199px) {
            // font-size: 45px;
            // line-height: 1.2;
        }
        @media screen and (max-width: 880px) {
            // font-size: 37px;
            // line-height: 1;
            // margin-bottom: 15px;
        }
    }
    &__subtitle {
        font-size: 63px;
        line-height: 56px;
        font-weight: 700;
        color: $accent;
    }

    &__btn {
        display: flex;
        align-items: center;
        @media screen and (max-width: 665px) {
            // flex-direction: column;
        }
        // .btn {
        //     @media screen and (max-width: 580px) {
        //         width: 242px;
        //         margin: 0 auto;
        //         padding: 12px 10px;
        //         font-size: 12px;
        //     }
        //     @media screen and (max-width: 580px) {
        //         background: #262626;
        //         color: #fff;
        //         padding: 18px 10px;
        //         max-width: 183px;
        //         min-width: 183px;
        //     }
        // }
    }
    &__text {
        max-width: 420px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 65px;
        margin-top: 28px;
		font-family: "Comfortaa", Arial, Helvetica, sans-serif;
        @media screen and (max-width: 1115px) {
            // font-size: 14px;
            // line-height: 1.2;
            // padding: 20px;
        }
        @media screen and (max-width: 500px) {
            // font-size: 10px;
            // line-height: 1.6;
            // padding: 17px 0;
            // margin-bottom: 110px;
        }
    }
    &__form {
        position: relative;
        max-width: 324px;
        &:after {
            content: "";
            position: absolute;
            width: 189px;
            height: 139px;
            top: 30px;
            left: -218px;
            background: url('../img/fly.png') no-repeat;
        }
    }
    &__pic {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 716px;
            height: 680px;
            background: url('../img/home-bg.png') no-repeat;

        }
    }
    .agree-line {
        justify-content: flex-start;
        margin-top: 30px;
        label {
            &:before {
                background-color: #76e370;
                border-color: #76e370;
            }
        }
        input[type=checkbox]:checked+label:after {
                border-color: #fff;
        }
    }
}