.sections {
    &__title {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: -40px;
            left: -40px;
            width: 392px;
            height: 211px;
            background: url('../img/cloud.png') no-repeat;
        }
    }
    &__item {
        margin: 0 15px;
        width: 30%;
        width: calc(100% / 3 - 30px);
        padding: 10px;
    }
    &__pic {
        img {
            max-width: 100%;
        }
    }
    &__name {
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
        text-align: center;
    }
    &__btn {
        text-align: center;
    }
}