.reasons {
    padding: 102px 0 20px;
    @media screen and (max-width: 880px) {
        padding-top: 40px;
    }
    .title {
        margin-bottom: 92px;
    }
    &__items {
        text-align: center;
        justify-content: center;
    }
    &__item {
        margin: 0 15px;
        width: 30%;
        width: calc(100% / 3 - 30px);
        padding: 0 27px 20px;
        background-image: url('img/reason1.png');
        background-repeat: no-repeat;
        background-size: contain;
        @media screen and (max-width: 1023px) {
            margin: 0 10px;
            width: calc(100% / 3 - 20px);
            padding: 0 15px 20px;
        }
        @media screen and (max-width: 880px) {
            width: calc(100% / 2 - 20px);
        }
        @media screen and (max-width: 500px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &:nth-child(1) {
            .reasons__pic {
                background-image: url('../img/reason1.png');
            }
        }
        &:nth-child(2) {
            .reasons__pic {
                background-image: url('../img/reason2.png');
            }
        }
        &:nth-child(3) {
            .reasons__pic {
                background-image: url('../img/reason3.png');
            }
        }
        &:nth-child(4) {
            padding: 0 16px 20px;
            .reasons__pic {
                background-image: url('../img/reason4.png');
            }
        }
        &:nth-child(5) {
            padding: 0 16px 20px;
            .reasons__pic {
                background-image: url('../img/reason5.png');
            }
        }
    }
    &__name {
        max-width: 230px;
        margin: 0 auto 15px;
        font-family: "Comfortaa", Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
    }
    &__text {
        font-weight: 200;
    }
    &__pic {
        padding: 25px 0;
        margin-bottom: 32px;
        background-image: url('../img/reason1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .icon {
        width: 64px;
        height: 64px;
        fill: #fff;
    }
}