.sistem {
    position: relative;
    background: $accent;
    background: url('../img/sistem-bg.png') no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    padding: 251px 0 0;
    @media screen and (max-width: 880px) {
        padding-top: 100px;
        background-size: cover;
        background-position: center top -123px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 6%;
        width: 367px;
        height: 215px;
        background: url('../img/plane.png') no-repeat;
        @media screen and (max-width: 880px) {
            background-size: contain;
        width: 267px;
        height: 115px;
        }
    }
    .title {
        margin-bottom: 25px;
    }
    &__title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    &__body {
        display: flex;
        margin-top: 77px;
        @media screen and (max-width: 880px) {
            flex-wrap: wrap;
            margin-top: 0;
        }
    }
    &__name {
        margin-bottom: 5px;
        color: #fff;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        font-family: "Comfortaa", Arial, Helvetica, sans-serif;
        text-align: left;
        @media screen and (max-width: 880px) {
            text-align: center;
        }
    }
    &__pic {
        position: relative;
        z-index: 1;
        width: 17%;
        @media screen and (max-width: 880px) {
            width: 100%;
            height: 300px;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: -78%;
            width: 633px;
            height: 607px;
            background: url('../img/sistem-bg-boy.png') no-repeat;
            z-index: -1;
            @media screen and (max-width: 1023px) {
                width: 500px;
                height: 517px;
                background-size: contain;
            }
            @media screen and (max-width: 880px) {
                width: 100%;
                height: 100%;
                bottom: auto;
                top: 0;
                left: 0;
                background-position: center;
            }
        }
    }
    &__items {
        margin-top: 27px;
        width: 33%;
        padding-bottom: 176px;
        @media screen and (max-width: 880px) {
            width: 100%;
            text-align: center;
            padding-bottom: 0;
        }
    }
    &__item {
        margin-bottom: 47px;
        @media screen and (max-width: 880px) {
            text-align: center;
        }
    }
    &__list {
        width: 50%;
        padding: 0 7%;
        @media screen and (max-width: 880px) {
            width: 100%;
        }
    }
}
.icon-trophy {
    width: 60px;
    height: 65px;
    fill: #fff;
}
.icon-speak {
    width: 78px;
    height: 77px;
    fill: #fff;
}