.footer {
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__tel {
        font-size: 20px;
        line-height: 45px;
        a {
            display: block;
        }
    }
    &__line {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        span {
            margin: 0 auto;
        }
    }
    &__adress {
        .icon {
            margin-left: auto;
            width: 20px;
            height: 20px;
            fill: #79df77;
            &:hover {
                fill: #4fca48;
            }
        }
    }
    &__body {
        
        background: #80e67e;
        .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__menu {
        font-size: 12px;
        ul {
            display: flex;
            justify-content: center;
            white-space: nowrap;
    
        }
        a {
            display: block;
            padding: 10px;
            text-decoration: underline;
        }
    }
    &__dev {
        font-size: 12px;
        line-height: 36px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 580px) {
            justify-content: center;
        }
    }
    &__logo {
        display: flex;
        margin-left: 10px;
        img {
            max-width: 100%;
        }
    }
}
.rights {
    font-size: 12px;
    line-height: 16px;
}
