.header {
    position: relative;
    padding: 8px 0 18px;
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    &>.wrap {
        display: flex;
        align-items: center;
    }
    &__social {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 26px;
        margin-left: auto;
        font-weight: 700;

        a {
            padding: 5px 0;
            font-weight: 700;
            &:hover {
                opacity: 0.7;
            }
        }
        @media screen and (max-width: 820px) {
            font-size: 14px;
        }
        @media screen and (max-width: 500px) {

        }
    }
    &__item {
        display: flex;
        align-items: center;
        &+.header__item {
            margin-left: 40px;
            @media screen and (max-width: 880px) {
                margin-left: 10px;
            }
        }
    }
    &__adress {
        font-size: 16px;
        line-height: 35px;
        @media screen and (max-width: 880px) {
            font-size: 14px;
            line-height: 18px;
        }
        @media screen and (max-width: 500px) {
            text-align: right;
        }
    }
    &__icon {
        margin-right: 10px;
        svg {
        fill: $accent;
        }
    }
    &__phone {
        color: $accent;
        font-size: 28px;
        line-height: 35px;
        font-weight: 700;
        @media screen and (max-width: 880px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media screen and (max-width: 500px) {
            display: none;
        }
    }
    .logo {
        margin-top: 4px;
        margin-left: 0px;
        width: 134px;
        img {
            width: 100%;
        }
        @media screen and (max-width: 880px) {
            max-width: 90px;
        }
    }
}

.icon-map {
    width: 30px;
    height: 35px;
    @media screen and (max-width: 880px) {
        width: 20px;
        height: 25px;
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}
.icon-phone {
    width: 27px;
    height: 27px;
    @media screen and (max-width: 880px) {
        width: 17px;
        height: 17px;
    }
}

//header