.modal {
    max-height: 102vh;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(45, 52, 48, 0.6);
    justify-content: center;
    // align-items: center;
    &__wrap {
      padding-top: 20px;
        max-width: 954px;
        position: relative;
        margin: auto;
        @media only screen and (max-width: 620px) {
            max-width: 100%;
            width: 90%;
        }   
    }
    &__body {
      position: relative;
      background: #fff;

      @media only screen and (max-width: 805px) {

      }
      @media only screen and (max-width: 500px) {

      }
    }
    &__header {
      font-size: 35px;
      line-height: 40px;
      font-weight: 700;
      text-align: center;
      background: $accent;
      color: #fff;
      padding: 20px;
      text-transform: uppercase;
      @media screen and (max-width: 679px) {
        font-size: 22px;
        line-height: 1.2;
      }
    }
    &__inner {
      padding: 20px;
    }
    &__title {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      text-decoration: underline;
      margin-bottom: 5px;
      color: $accent;
      text-align: center;
      @media only screen and (max-width: 620px) {
        font-size: 18px;
        line-height: 28px;
      }
    }
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px 0;
      text-align: left;
      color: #5f5f5f;
      @media only screen and (max-width: 620px) {
        font-size: 11px;
        line-height: 16px;
      }
      @media only screen and (max-width: 368px) {
      }
    }
    &__list {
      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        &:before {
          content: "";
          position: absolute;
          top: 6px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #ff874c;
      }
      }
    }
    &-open {
        display: block;
    }
    &__maintitle {
      font-size: 35px;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 22px;
      color: $accent;
      font-weight: 700;
    }
    &__mainsubtitle {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 50px;
      text-align: center;
    }
  }
  .close {
      position: absolute;
      right: -20px;
      top: 0;
      width: 18px;
      height: 18px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      svg {
        fill: #fff;
        width: 30px;
        height: 30px;
      }
      &:hover {
          opacity: .7;
      }
      @media only screen and (max-width: 1045px) {
        top: 36px;
        right: 17px;
        border-color: #000;
        svg {
          fill: $accent;
        }
      }
      @media only screen and (max-width: 620px) {
        top: 26px;
        right: 6px;
      }
  
  }
  
  .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
  }
  .disabled {
      display: none !important;
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
    
  .fadeOutUp {
    animation-name: fadeOutUp;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  //width modal
  #modalFinish.modal {
    background: rgba(255, 255, 255, 0.9);
    .modal__wrap {
      max-width: 613px;
    }
    .modal__body {
      background: $accent;
      color: #fff;
      position: relative;
      padding: 70px 20px;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100%;
        height: 100%;
        border: 3px solid $accent;
        z-index: -1;
        transition: 0.3s;
        z-index: -1;
      }
      &-pic {
        position: relative;
        margin: 0 auto 20px;
        width: 104px;
        height: 104px;
        border-radius: 50%;
        background: #fff;
        border: 5px solid #ffab82;
        &:after {
          content: "";
          position: absolute;
          left: 20px;
          width: 37px;
          height: 16px;
          border: 11px solid $accent;
          border-top: none;
          border-right: none;
          top: 46%;
          transform: translate(0, -50%) rotate(-45deg);
        }
      }
    }
    .modal__title {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 30px;
      color: #fff;
      text-decoration: none;
    }
    .modal__subtitle {
      font-size: 18px;
      line-height: 22px;
    }
    .close {
      svg {
        fill: $accent;
        @media only screen and (max-width: 1045px) {
          fill: #fff;
        }
      }
    }
  }
  #packagesOwner,
  #packageskouch {
    .close {
      svg {
        @media only screen and (max-width: 1045px) {
          fill: #fff;
        }
      }
    }
  }
.packagesForm {
  .modal__wrap {
    width: 100%;
    max-width: 613px;
    text-align: center;
  }
  .form-line {
    display: block;
    label {
      display: block;
      margin-bottom: 22px;
      &+label {
        margin-left: 0;
      }
    }
  }
  input {
    min-width: 350px;
    border: 1px solid #d1d1d1;
  }
  .form-line-wrap {
    justify-content: center;
  }
  .modal__body {
    padding: 75px 20px;
  }

  input.empty_field {
    border: 1px solid red;
  }
}
#policy {
  .modal__mainsubtitle {
    margin-bottom: 20px;
    margin-top: 40px;
  }
}