
@import "tools/_normalize.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
* {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: #202020;
	input, textarea {
		font-size: 16px;
		font-weight: 200;
		font-family: "Comfortaa", Arial, Helvetica, sans-serif;
		width: 100%;
		border: 1px solid #dddddd;
		color: #676666;
		outline: none;
		background: #fff;
		border-radius: 35px;
		padding: 22px 28px;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
	label {
		img {
			width: 22px;
			margin-right: 10px;
		}

	}
}
.body-modal-open {
	height: 100vh;
	overflow: hidden;
	padding-right: 15px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.wrap {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	@media screen and (max-width: 579px) {
		padding: 0 15px;
	}
}
.container {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
a {
	text-decoration: none;
	color: $text;
	transition: all.6s ease;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		transition: all.1s ease;
	};
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.primary-text {
	font-weight: 200;
	text-align: center;
}
.title,
h2.title {
	font-weight: 700;
	font-family: "Comfortaa", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	@media screen and (max-width: 500px) {
		font-size: 25px;
		line-height: 34px;
	}
	&--white {
		color: #f9f9f9;
	}
}
.subtitle {
	font-weight: 700;
	font-family: "Comfortaa", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	&--white {
		color: #f9f9f9;
	}
}
.btn {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	font-family: "Gilroy", Arial, Helvetica, sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 26px 28px;
	transition: 0.5s;
	cursor: pointer;
	background: #76e370;
	border: 1px solid #76e370;
	min-width: 250px;
	text-align: center;
	border-radius: 35px;
	@media screen and (max-width: 500px) {
		padding-left: 18px;
		padding-right: 18px;
	}
	.kviz__btn {
		color: #fff;
	}
	&:hover {
		background-color: #4fca48;
		border-color: #4fca48;
		.kviz__btn {
			color: #fff;
		}
	}
	&:active {
		background-color: #4fca48;
		border-color: #4fca48;
	}
	&--orange {
		background: #ffc145;
		border-color: #ffc145;
		color: #fff;
		&:hover, &:active {
			background-color: #fb9720;
			border-color:  #fb9720;
		}
	}
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
  }
  .tabs__content.active {
	display: block; /* по умолчанию показываем нужный блок */
  }
//br 
.br-desktop {
	@media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
		display: none;
	}
	@media screen and (max-width: 749px){
		display: none;
	}
}
.br-planshet {
	display: none; 
	@media only screen and (max-width: 1350px) and (orientation: portrait),
    screen and (max-width: 1080px) {
		display: inline;
	}
	@media screen and (max-width: 749px){
		display: none;
	}
}
.br-mobile-320 {
	display: none;
	@media screen and (max-width: 340px){
		display: inline;
	}
}
.br-mobile {
	display: none;
	@media screen and (max-width: 749px){
		display: inline;
	}
}


@import "sections/header";
@import "sections/1home";
@import "sections/2sections";
@import "sections/3reasons";
@import "sections/4sistem";
@import "sections/5day";
@import "sections/6source";
@import "sections/7team";
@import "sections/8reviews";
@import "sections/9gallery";
@import "sections/10schedule";
@import "sections/11contact";
@import "sections/modal";
@import "sections/footer";
@import "sections/page-schedule";

@import "media"; // Always at the end
