section.schedule
    .wrap
        .schedule__body
            .schedule__text Хочете знати актуальний розклад занять <br>в Дитячому Клубі Холлі на 2019-2020 навчальний рік?
            a(href="#").schedule__btn.btn Подивитися розклад