section.home
    .wrap
        .home__body
            .home__title Холлі
            .home__subtitle Дитячий Клуб 
            .home__text Простір, в якому ми допомагаємо батькам ростити розумних, міливих, щасливих та впевнених в собі дітей
            form
                input.utm_source.hidden(type='hidden', name='utm_source')
                input.utm_medium.hidden(type='hidden', name='utm_medium')
                input.utm_campaign.hidden(type='hidden', name='utm_campaign')
                input.utm_term.hidden(type='hidden', name='utm_term')
                input.utm_content.hidden(type='hidden', name='utm_content')
                input(type='hidden', name='info', value='1й экран - записатись на пробне заняття')
                .form.home__form
                    .form-line 
                        label
                            input(type="text" placeholder="+38" name="phone" required).rfield.phone-mask
                    .form-line-btn
                        .btn-finish(data-modal="#modalFinish")
                            input(type="submit" value="Записатися на пробне заняття").quiz__btn.btn
                    .agree-line
                        input#modal__agree(type='checkbox', checked='', disabled='')
                        label(for='#modal__agree') Я згоден на 
                            a(href="#modalPolicy").agree-line__policy.modal-open обробку персональних даних 
        .home__pic
