section.sections
    .wrap
        h2.sections__title.title Клуб Холлі — це всі необхідні вашій дитині секції, студії та класи в одному місці
        .container
            .sections__item
                .sections__pic
                    img(src="img/section1.png", alt="section")
                .sections__name Розвиваючі заняття для різних <span class="br-desctop"><br></span>вікових груп від 9 місяців <span class="br-desctop"><br></span>до 4 років 
            .sections__item
                .sections__pic
                    img(src="img/section2.png", alt="section")
                .sections__name Підготовчий клас, після якого, <span class="br-desctop"><br></span> за словами батьків, успішно проходять співбесіди в школу 10 з 10 дітей 
            .sections__item
                .sections__pic
                    img(src="img/section3.png", alt="section")
                .sections__name Творчі студії, які розкривають <span class="br-desctop"><br></span>таланти дитини <span class="br-desctop"><br></span> до малювання і музики
            .sections__item
                .sections__pic
                    img(src="img/section4.png", alt="section")
                .sections__name Театральна студія, заняття в якій <span class="br-desctop"><br></span> допомагають говорити виразно, <span class="br-desctop"><br></span> та стати сміливішими навіть самим <span class="br-desctop"><br></span>сором'язливим
            .sections__item
                .sections__pic
                    img(src="img/section5.png", alt="section")
                .sections__name Клас англійської мови, який дає сильний фундамент для подальшого вивчення іноземних мов
            .sections__item
                .sections__pic
                    img(src="img/section6.png", alt="section")
                .sections__name Айкідо, капоейра і танці для фізичного розвитку та реалізації накопиченої енергії вашої маленької дзиґи
            .sections__item
                .sections__pic
                    img(src="img/section7.png", alt="section")
                .sections__name Ейдетика і ТРВЗ, які допомагають розвинути креативність, логічний аналіз, уважність, кмітливість  <br> і нестандартне мислення
            .sections__item
                .sections__pic
                    img(src="img/section8.png", alt="section")
                .sections__name Заняття з ментальної арифметики, мета яких розкрити в дитині його приховані здібності через розвиток правої півкулі мозку 
            .sections__item
                .sections__pic
                    img(src="img/section9.png", alt="section")
                .sections__name Lego-конструювання, яке проводиться за методикою, розробленою самим виробником в рамках освітнього проекту Lego Education
        .sections__btn
            .btn(data-modal="#modalForm") Записатися на пробне заняття
            