section.reasons
    .wrap
        h2.title Чому батьки довіряють нам своїх дітей?
        .container.reasons__items
            .reasons__item
                .reasons__pic
                    svg.icon
                        use(xlink:href='img/icons/teacher.svg#teacher')
                .reasons__name Постійний склад педагогів-психологів
                .reasons__text Які офіційно оформлені, мають профільну освіту і досвід роботи від 2 до 35 років. З багатьма з них ми працюємо більше 4 років!
            .reasons__item
                .reasons__pic
                    svg.icon
                        use(xlink:href='img/icons/mortarboard.svg#mortarboard')
                .reasons__name Власна авторська  методика
                .reasons__text Навчання в клубі проходить по нашій спеціально розробленій цілісній методиці розвитку дітей від 1 року, яка, за відгуками батьків, дає помітно високий результат
            .reasons__item
                .reasons__pic
                    svg.icon
                        use(xlink:href='img/icons/maternity.svg#maternity')
                .reasons__name Домашня атмосфера  і затишок
                .reasons__text Ми створюємо комфортне для дітей середовище, де до кожного з них ставляться як до особистості і враховуються його індивідуальні особливості
            .reasons__item
                .reasons__pic
                    svg.icon
                        use(xlink:href='img/icons/home.svg#home')
                .reasons__name Затишні і комфортні класи для занять
                .reasons__text Заняття проходять в яскравих класах, <br>в які діти хочуть повертатися. <br>Ми створили атмосферу, в якій нові знання здобуваються легко і з задоволенням

            .reasons__item
                .reasons__pic
                    svg.icon
                        use(xlink:href='img/icons/shield.svg#shield')
                .reasons__name Висока безпека  і контроль
                .reasons__text Всі меблі в класах, іграшки, навчальні матеріали регулярно дезінфікуються. Цілодобово ми очищаємо повітря від вірусів і мікробів спеціальними приладами
