section.sistem
    .wrap
        h2.title.title--white.sistem__title Ми знаємо, що разом можемо змінити систему дошкільної освіти
        .subtitle.subtitle--white І це доводять наші маленькі випускники своїми результатами
        .sistem__body
            .sistem__items
                .sistem__item
                    .sistem__name Більше 2000 дітей
                    .sistem__text відвідало наш клуб за сім років, чиїми <span class="br-desctop"><br></span> успіхами ми пишаємося разом з їх батьками
                .sistem__item
                    .sistem__name Понад 200 випускників
                    .sistem__text курсу «Підготовка до школи» успішно <span class="br-desctop"><br></span> вступили в школи, ліцеї та гімназії
                .sistem__item
                    .sistem__name Близько 100 учнів
                    .sistem__text школи айкідо успішно пройшли атестестацію і продовжують отримувати нові пояси
            .sistem__list
                .sistem__item
                    .sistem__icon
                        svg.icon.icon-trophy
                            use(xlink:href='img/icons/trophy.svg#trophy')
                    .sistem__text Наші маленькі зірочки з танцювальної та <span class="br-desctop"><br></span> театральної студій щорічно відвідують різноманітні конкурси та фестивалі, і тішать нас своими <span class="br-desctop"><br></span>  кубками, медалями та дипломами
                .sistem__item
                    .sistem__icon
                        svg.icon.icon-speak
                            use(xlink:href='img/icons/speak.svg#speak')
                    .sistem__text Учні класу англійської мови, за словами <span class="br-desctop"><br></span> батьків, легко спілкуються з новими <span class="br-desctop"><br></span>закордонними друзями, з котрими <span class="br-desctop"><br></span> познайомилися під час сімейних подорожей
            .sistem__pic