section.day
    .wrap
        h2.title Як організовані заняття в Дитячому Клубі Холлі
        .container.day__items
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/family.svg#family')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/clock.svg#clock')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/appointment.svg#appointment')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/diagram.svg#diagram')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/notification.svg#notification')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
            .day__item
                .day__pic
                    svg.icon
                        use(xlink:href='img/icons/money.svg#money')
                .day__text Малюки до 3х років займаються з батьками, а старші — самостійно
        .day__btn 
            .btn(data-modal="#modalForm") Дізнатися більше