section.source
    .wrap
        h2.title.source__title Що є головним джерелом наших високих результатів?
        .subtitle Ми віримо, що тільки завдяки високим цінностям, які розділяє  <span class="br-desktop"><br></span> кожен співробітник Клубу, ми робимо внесок в розвиток і щастя дітей
        .container.source__items
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text Ми змінюємо систему дошкільної освіти через сучасний підхід, який заснований на природному інтересі дітей до пізнання навколишнього світу
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text Кожен з нас не зупиняється на досягнутому і нескінченно розвивається, тому ми невпинно креативимо і розвиваємо це в дітях
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text У нас панує атмосфера любові, довіри і поваги до дітей і один до одного
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text Ми підтримуємо один одного у всьому і кожну хвилину, завжди залишаємося чесними і щирими перед собою, командою, батьками і дітьми
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text Ми переконані в тому, що кожна дитина за замовчуванням хороша і талановита
            .source__item
                .source__icon
                    svg.icon#star(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 47.94 47.94', width='47.94', height='47.94', y='7694')
                        path(d='M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z')
                .source__text Ми завжди сприймаємо конструктивну критику та використовуємо її як можливість стати краще
