section.source
    .wrap
        h2.title.source__title Що є головним джерелом наших високих результатів?
        .subtitle Ми віримо, що тільки завдяки високим цінностям, які розділяє  <span class="br-desctop"><br></span> кожен співробітник Клубу, ми робимо внесок в розвиток і щастя дітей
        .container.source__items
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text Ми змінюємо систему дошкільної освіти через сучасний підхід, який заснований на природному інтересі дітей до пізнання навколишнього світу
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text Кожен з нас не зупиняється на досягнутому і нескінченно розвивається, тому ми невпинно креативимо і розвиваємо це в дітях
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text У нас панує атмосфера любові, довіри і поваги до дітей і один до одного
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text Ми підтримуємо один одного у всьому і кожну хвилину, завжди залишаємося чесними і щирими перед собою, командою, батьками і дітьми
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text Ми переконані в тому, що кожна дитина за замовчуванням хороша і талановита
            .source__item
                .source__icon
                    svg.icon
                        use(xlink:href='img/icons/star.svg#star')
                .source__text Ми завжди сприймаємо конструктивну критику та використовуємо її як можливість стати краще
