section.team
    .wrap
        h2.title Команда відповідальних за розвиток ваших діток в Клубі Холлі
        .team__body
            .tabs
                .team__wrap
                    .tabs__content.active
                        .team__foto
                            img(src="img/foto-club/eismont_o.png", alt="eismont_o")
                        .team__name Ейсмонт Ольга
                        .team__position Керівник
                        .team__about Все своє життя я мріяла працювати на користь людям, створити щось нове, дуже якісне. Я щаслива, що знайшла своє призначення. Нам довіряють найцінніше!
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/babaeva_t.png", alt="babaeva_t")
                        .team__name Бабаєва Тетяна
                        .team__position Керівник
                        .team__about Все своє життя я зростала з думкою про те, що я повинна приносити користь суспільству. А також, я завжди дуже любила дітей. Вже більше 5 років я працюю у "Холлі" і я люблю його за те, що саме тут, саме ми разом дійсно змінюємо систему освіти, поки тільки дошкільну, а у майбутньому і шкільну. Мені здається, що саме в цьому полягає моя життєва місія — приносити користь суспільству через формування нової системи освіти та виховання нового покоління, хіба може бути щось краще та корисніше цього?!
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/kabalik_i.png", alt="kabalik_i")
                        .team__name Кабалик Ірина
                        .team__position Методист
                        .team__about Для мене є дуже важливим бачити результати своєї роботи, і саме коли я бачу щасливі та палаючі оченята дітлахів, я розумію що це — моє. Мене надихають досягнення малечі та їхні успіхи. Розуміти і відчувати дитячий світ, "підібрати чарівний ключик" до кожного дитячого сердечка, який відкриє індивідуальність кожного малюка, помічаючи здібності і створювати умови для розвитку їхнього потенціалу. Це те, заради чого я це роблю!
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/sadigova_t.png", alt="sadigova_t")
                        .team__name Садигова Тетяна
                        .team__position Педагог з раннього розвитку
                        .team__about Я люблю свою роботу за маленьких людей, котрі приходять навчатися та досягати великих вершин. Люблю дивитися як з невпевненого малюка одного року діти стають самостійними та готовими людьми, які готові до нових вершин свого життя. Це велике задоволення бачити їх успіхи. Допомагати їм розуміти що таке життя. Заради цього я живу.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/lanchuk_g.png", alt="lanchuk_g")
                        .team__name Ланчук Ганна
                        .team__position Педагог з раннього розвитку
                        .team__about У роботі з дітьми мене надихають самі ДІТИ. Мене надихає та окриляє, коли я бачу як мої дії, підтримка, мотивація, певні знання допомагають дітям кожного разу ставати кращими версіями себе, переборювати свій страх, ставати більш усвідомленими. Ну як це не може радувати!?
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/osadcha_l.png", alt="osadcha_l")
                        .team__name Осадча Людмила
                        .team__position Педагог з раннього розвитку
                        .team__about Я люблю свою роботу. Люблю кожного дня спілкуватися з дітьми. Думати про них, співпереживати їхнім досягненням і невдачам. Нести відповідальність, любити, вчити і вчитися разом з ними. Я знаю, що вони виростуть успішними, розумними і хорошими людьми.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/leschenko_t.png", alt="leschenko_t")
                        .team__name Лященко Тетяна
                        .team__position Психолог, педагог з раннього розвитку та з ейдетики
                        .team__about Чому я це роблю? Відповідь дуже проста та банальна - мені подобається те, чим я займаюсь, а саме створювати казку для наймолодших наших учнів, викликати в них цікавість, радість, впевненість у собі, гордість за свої досягнення та багато іншого, під час занять з раннього розвитку.  Бачучи результат своєї праці - я можу сказати, що це більше ніж робота - це гордість від того, що ми закладаємо майбутнє для малюків.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/vasilik_g.png", alt="vasilik_g")
                        .team__name Василик Ганна
                        .team__position Педагог з раннього розвитку та ментальної арифметики
                        .team__about Я отримую натхнення від роботи з дітьми. Адже це так чудово бачити як широко відкриваються їхні очі від нового відкриття. Як  вони довірливо йдуть зі мною у нові знання, отримують новий досвід. Люблю спостерігати як вони пізнають цей світ і відчувати гордість за їхні маленькі та великі перемоги.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/griva_g.png", alt="griva_g")
                        .team__name Грива Галина
                        .team__position Педагог з раннього розвитку та підготовки до школи
                        .team__about Ще в шкільному віці я вже знала ким стану в майбутньому! Багато чого я навчилася у своїх наставників. Виховувати дітей це означає ще більше самовдосконалюватись, і цьому ніщо не допомагає стільки, як самі діти. Потрібно вміти дарувати себе дітям! Бути терплячими і бути готовими до зустрічі з ними в дитинстві.  Адже вся радість життя проявляється в усмішці дитини!
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/boiko_a.png", alt="boiko_a")
                        .team__name Бойко Анна
                        .team__position Педагог з  підготовки до школи
                        .team__about Моє покликання бути педагогом ще зародилося в далекому дитинстві, це були мої ігри в учня і вчителя. І вже на протязі 24 років я насолоджуюся спілкуванням з дітьми. Це одна з найтонших речей у нашій педагогічній справі.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/simanich_v.png", alt="simanich_v")
                        .team__name Симанич Вікторія
                        .team__position Логопед
                        .team__about Так сталося, що професія сама обрала мене. І як зараз здається, це стало стилем мого життя. Люблю навчати дітей і навчатися разом з ними, надихати та допомагати їм бути впевненішими, радіти маленьким перемогам та пишатися досягненнями.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/nazarenko_n.png", alt="nazarenko_n")
                        .team__name Назаренко Наталія
                        .team__position Музичний керівник
                        .team__about Я люблю свою роботу, тому вважаю, що музика допомагає дитині розкрити не тільки свій музичний талант, але й розвиватися гармонійно і в інших напрямках.Що може бути цікавіше, ніж бачити зростання музичного таланту, та творчого потенціалу.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/vorobiova_n.png", alt="vorobiova_n")
                        .team__name Воробйова Надія
                        .team__position Керівник театральної студії 
                        .team__about В душі я дитина, бо дуже люблю діток, люблю грати з ними в театральні ігри, читати казки та веселитися. Я безмежно люблю їх посмішки та веселі історіі, а часом сумні і незрозумілі  для дорослих. Завдяки своїм діткам я маю можливість перетворюватися у малюка. Я обожнюю перетворюватись  та перетворювати… Ми разом віримо в казку та дива!
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/kurilo_a.png", alt="kurilo_a")
                        .team__name Курило Анастасія 
                        .team__position Педагог з малювання
                        .team__about Я малюю з дітьми заради того, щоб вони, як підростаюче покоління, любили мистецтво і відчували, що можуть бути частинкою його історії. Я хочу, щоб малюнок сприймався, як спосіб самовираження, прояву свободи та різновид релаксу.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/ivashchenki_i.png", alt="ivashchenki_i")
                        .team__name Іващенко Ірина
                        .team__position Викладач англійської мови
                        .team__about Я працюю заради щасливого та яскравого дитинства наших дітей. Колись вони подорослішають і в своє нове життя зможуть взяти цінний пакунок із емоцій, знань, досвіду та примножувати його. Хочу щоб мої учні виросли "багатими" людьми.  
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/KristopherJeffay.png", alt="KristopherJeffay")
                        .team__name Jeffay Kristopher 
                        .team__position Викладач англійської мови
                        .team__about I love teaching children because they love to learn. Sharing my knowledge with them is very rewarding. Children are eager to experience and witness new things. It’s a great pleasure for me to watch the kids have fun in the classroom.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/krishtal_e.png", alt="krishtal_e")
                        .team__name Кришталь Євгенія
                        .team__position Хореограф
                        .team__about Люблю свою діяльність, люблю ділитися знаннями, розкривати дітей, допомагати їм стати впевненіше і не боятися себе виражати. Мені подобається робити дітей трохи щасливішими і емоції, які отримуєш від роботи з ними — непередавані.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/sukovatenko_a.png", alt="sukovatenko_a")
                        .team__name Суковатенко Ганна
                        .team__position Тренер по капоейра
                        .team__about Спорт був зі мною протягом усього життя і я транслюю жагу до спорту учням та близьким. Головним моїм кредо є дисципліна та насолода життям, відкриватися світу, зберігаючи свою індивідуальність і віру в себе.Педагогічні методи, які я використовую — це йти шляхом безмежного розвитку, через різні сторони мозкової діяльності. Мої методи це плекання задатків, через дисципліну та свободу особистості.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/petrivichev_u.png", alt="petrivichev_u")
                        .team__name Петровічев Юрій 
                        .team__position Тренер по айкідо
                        .team__about Дисципліна, взаємоповага і наполеглива праця — три стовпи, на яких будується наша робота. Ми навчимо вашу дитину ставити цілі та досягати їх. І навчимо постояти за себе
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/morachevich_o.png", alt="morachevich_o")
                        .team__name Морачевич Олена
                        .team__position Тренер по айкідо
                        .team__about Дисципліна, взаємоповага і наполеглива праця — три стовпи, на яких будується наша робота. Ми навчимо вашу дитину ставити цілі та досягати їх. І навчимо постояти за себе
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/prihodchenko_v.png", alt="prihodchenko_v")
                        .team__name Приходченко Валерій 
                        .team__position Тренер по айкідо
                        .team__about Дисципліна, взаємоповага і наполеглива праця — три стовпи, на яких будується наша робота. Ми навчимо вашу дитину ставити цілі та досягати їх. І навчимо постояти за себе
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/davidenko_e.png", alt="davidenko_e")
                        .team__name Давиденко Євгенія
                        .team__position Адміністратор
                        .team__about Робота з дітьми — найкраща робота у світі! Оскільки діти мотивують, надихають, заряджають любов'ю і позитивом, завжди сяють. Особисто мені хочеться, щоб діти відчували нашу любов, турботу і підтримку.
                    .tabs__content
                        .team__foto
                            img(src="img/foto-club/kramar_o.png", alt="kramar_o")
                        .team__name Крамар Олександра 
                        .team__position Адміністратор
                        .team__about Робота з дітьми приносить мені велике задоволення. Мені подобається спостерігати за тим, як діти із задоволенням поспішають на заняття, як радіють, коли бачать педагога, та як діляться своїми новими знаннями з рідними. Саме ці моменти надихають на створення нових ідей.

                .team__caption
                    ul.tabs__caption
                        li.active 
                            .team__pic
                                img(src="img/foto-club/eismont_o_min.png", alt="eismont_o")
                            .team__name Ейсмонт Ольга
                        li 
                            .team__pic
                                img(src="img/foto-club/babaeva_t_min.png", alt="babaeva_t")
                            .team__name Бабаєва Тетяна
                        li 
                            .team__pic
                                img(src="img/foto-club/kabalik_i_min.png", alt="kabalik_i")
                            .team__name Кабалик Ірина
                        li 
                            .team__pic
                                img(src="img/foto-club/sadigova_t_min.png", alt="sadigova_t")
                            .team__name Садигова Тетяна
                        li 
                            .team__pic
                                img(src="img/foto-club/lanchuk_g_min.png", alt="lanchuk_g")
                            .team__name Ланчук Ганна
                        li 
                            .team__pic
                                img(src="img/foto-club/osadcha_l_min.png", alt="osadcha_l")
                            .team__name Осадча Людмила
                        li 
                            .team__pic
                                img(src="img/foto-club/leschenko_t_min.png", alt="leschenko_t")
                            .team__name Лященко Тетяна
                        li 
                            .team__pic
                                img(src="img/foto-club/vasilik_g_min.png", alt="vasilik_g")
                            .team__name Василик Ганна
                        li 
                            .team__pic
                                img(src="img/foto-club/griva_g_min.png", alt="griva_g")
                            .team__name Грива Галина
                        li 
                            .team__pic
                                img(src="img/foto-club/boiko_a_min.png", alt="boiko_a")
                            .team__name Бойко Анна
                        li 
                            .team__pic
                                img(src="img/foto-club/simanich_v_min.png", alt="simanich_v")
                            .team__name Симанич Вікторія
                        li 
                            .team__pic
                                img(src="img/foto-club/nazarenko_n_min.png", alt="nazarenko_n")
                            .team__name Назаренко Наталія
                        li 
                            .team__pic
                                img(src="img/foto-club/vorobiova_n_min.png", alt="vorobiova_n")
                            .team__name Воробйова Надія
                        li 
                            .team__pic
                                img(src="img/foto-club/kurilo_a_min.png", alt="kurilo_a")
                            .team__name Курило Анастасія 
                        li 
                            .team__pic
                                img(src="img/foto-club/ivashchenki_i_min.png", alt="ivashchenki_i")
                            .team__name Іващенко Ірина
                        li 
                            .team__pic
                                img(src="img/foto-club/KristopherJeffay_min.png", alt="KristopherJeffay")
                            .team__name Jeffay Kristopher 
                        li 
                            .team__pic
                                img(src="img/foto-club/krishtal_e_min.png", alt="krishtal_e")
                            .team__name Кришталь Євгенія
                        li 
                            .team__pic
                                img(src="img/foto-club/sukovatenko_a_min.png", alt="sukovatenko_a")
                            .team__name Суковатенко Ганна
                        li 
                            .team__pic
                                img(src="img/foto-club/petrivichev_u_min.png", alt="petrivichev_u")
                            .team__name Петровічев Юрій 
                        li 
                            .team__pic
                                img(src="img/foto-club/morachevich_o_min.png", alt="morachevich_o")
                            .team__name Морачевич Олена
                        li 
                            .team__pic
                                img(src="img/foto-club/prihodchenko_v_min.png", alt="prihodchenko_v")
                            .team__name Приходченко Валерій 
                        li 
                            .team__pic
                                img(src="img/foto-club/davidenko_e_min.png", alt="davidenko_e")
                            .team__name Давиденко Євгенія
                        li 
                            .team__pic
                                img(src="img/foto-club/kramar_o_min.png", alt="kramar_o")
                            .team__name Крамар Олександра 
