section.reviews
    .wrap
        h2.title.title--white Нам довіряють найцінніше
        .reviews__body
            .rev_slider
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Тетяна Чуб
                        .reviewx__text Клуб Холлі неначе магнітом притягує діток до себе... Тут завжди шумно та радісно від дитячого сміху та галасу в перервах між заняттями...Ми ходимо на ментальну арифметику з задоволенням! Процвітання Холлі!
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Ольга Манжилей
                        .reviewx__text Дочь уже второй год с радостью посещает занятия. При чем хочет ходить на все, куда ходила на пробные занятия - чувствуется, что работают профессионалы, которые в каждое занятие вкладывают душу. Успехов и процветания вам!
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Екатерина Науменко
                        .reviewx__text Сказать что я довольная, это ничего не сказать. Я просто в восторге!!! Ребёнок ходит в школу с радостью,уже после двух месяцев посещения школы я вижу результат! Если ребёнок болел и пропустил занятия,есть возможность отработать пропущенные занятия,что немало важно! Всегда чистота и уют! Спасибо колективу "Холли" за вашу работу !!
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Евгения Гончаренко
                        .reviewx__text Я свою дитину почала водити в дитячий клуб "Холлі " на розвиваючі заняття, а потім вже і в дитячий садок,завдяки розвивалась в клубі у моєї донести можна сказати не було періоду адаптації,дитина йде в садок з задоволенням і лишається там поки я не проходжу її забирати.Чудовий садок,приємні вихователі,а саме головне щаслива дитина)))
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Татьяна
                        .reviewx__text Мы долго с малышкой искали школу, которая нравилась бы ребенку и в ней он действительно развивался. Перепробовали школы и на Оболони и на Борщаговке практически все. Но Холли действительно лучшая школа - тематические уроки, отзывчивые педагоги, к которым тянутся дети, насыщенная программа... Спасибо всем педагогам за ваш вклад в развитие детишек)
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Кирилл Плысенко
                        .reviewx__text Дети ходят в клуб с удовольствием! Реально мои дети получили и знания и укрепили здоровье! Чувствуется профессионализм преподавателей и желание дать детям лучшее! Результат - дети и родители счастливы.
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Анна Пушкарь
                        .reviewx__text Мой сын (5 лет) посещает уже 2 учебный год детский клуб "Холли", подготовку к школе и айкидо, должна отметить профессионализм всего коллектива.  Рекомендую это детское заведение со знаком качества! Из-за распологающей обстановки после занятий и тренировок ребёнка не возможно забрать домой, т.к преобрёл много друзей)
                .rev_slide
                    .reviews__item
                        .reviews__header
                            .reviews__img
                                img(src="img/reviews/chub_t.png", alt="")
                            .reviews__name Марина Поддубных
                        .reviewx__text Мне здесь нравится все - от приветливых сотрудников до наполнения занятий. Преподаватели прекрасно ладят с детьми и прекрасно справляются со своим делом. Еще просто в восторге от музыкальных занятий. И очень нравится акробатика. <br> Единственный недостаток - места маловато. <br> Выбирали этот клуб, потому что близко к дому. Но думаю, даже если переедем, будем сюда ездить)