section.gallery
    .wrap
        h2.title Дитячий клуб Холлі - це маленький світ, де ваша дитина робить перші успіхи, радіє перемогам та вчиться вірі в себе
        .gallery__body
            .gallery__item
                a(href="img/gallery/1-2_4.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/1-2_4.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/2-3_7.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/2-3_7.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/img1.jpg" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/img1.jpg", alt="holly")
            .gallery__item
                a(href="img/gallery/img2.jpg" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/img2.jpg", alt="holly")
            .gallery__item
                a(href="img/gallery/img3.jpg" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/img3.jpg", alt="holly")
            .gallery__item
                a(href="img/gallery/img4.jpg" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/img4.jpg", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290468.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290468.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290471.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290471.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290496.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290496.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290557.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290557.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290584.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290584.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290800.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290800.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1290883.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1290883.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1300004.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1300004.JPG", alt="holly")
            .gallery__item
                a(href="img/gallery/P1300038.JPG" data-fancybox="images" data-caption="gallery")
                    img(src="img/gallery/P1300038.JPG", alt="holly")