footer.footer
    .wrap
        .footer__top
            .logo
                img(src="img/logo.png", alt="logo")
            .footer__tel
                a(href="tel:+380442277234") (044) 22-77-234
                a(href="tel:+380992014233") (099) 201-42-33
            .footer__adress
                a(href="mailto:info@hollyclub.com.ua").footer__line 
                    span info@hollyclub.com.ua
                    svg.icon
                        use(xlink:href='img/icons/fb.svg#fb')
                .footer__line 
                    span м. Київ, бул. Кольцова, 14ж
                    svg.icon
                        use(xlink:href='img/icons/instagram.svg#instagram')
            .footer__pic
                img(src="img/hen.png", alt="hen")
    .footer__body
        .wrap
            .rights © 2020 Дитячий клуб «Холлі» Всі права захищені.
            .footer__menu
                ul
                    li
                        a(href="#") Політика конфіденційності
                    li
                        a(href="#") Правила відвідування
                    li
                        a(href="#") Договір публічної оферти
            .footer__item.footer__dev 
                span Розробка сайту
                a(href="https://nox.agency/").footer__logo 
                    img(src="img/logo-nox.png", alt="logo")
        
script(src="js/scripts.min.js")
script(src="js/common.js")
