header.header
	.wrap
		.logo
			img(src="img/logo.png", alt="logo Shostak")
		.header__social
			span.header__adress Київ. Бул. Кольцова, 14ж
			a(href="tel:+380976506266" class="phone") +380 97 650 6266
