header.header
	.wrap
		.logo
			img(src="img/logo.png", alt="logo")
		.header__social
			.header__item
				.header__icon
					svg.icon.icon-map
						use(xlink:href='img/icons/map.svg#map')
				.header__adress Київ. Бул. Кольцова, 14ж
			a(href="tel:+380442277234" class="phone header__item") 
				.header__icon
					svg.icon.icon-phone
						use(xlink:href='img/icons/phone.svg#phone')
				.header__phone +38 (044) 22-77-234
