section.page-schedule__wrap
    .wrap
        .title Розклад занять в Дитячому Клубі Холлі
        .subtitle Можливі невеликі коригування, тому рекомендуємо уточнювати графік груп, які вас цікавлять, і наявність місць у адміністратора за тел. 22-77-234
        .page-schedule__body
            img(src="img/schedule-pic.jpg", alt="schedule")
footer.footer
    .footer__body
        .wrap
            .rights © 2020 Дитячий клуб «Холлі» Всі права захищені.
            .footer__menu
                ul
                    li
                        a(href="#modalPolicy").modal-open Політика конфіденційності
                    li
                        a(href="rules.pdf" target="_blank") Правила відвідування
                    li
                        a(href="files/offerta.pdf" target="_blank") Договір публічної оферти
            .footer__item.footer__dev 
                span Розробка сайту
                a(href="https://nox.agency/").footer__logo 
                    img(src="img/logo-nox.png", alt="logo")
        
script(src="js/scripts.min.js")
script(src="js/common.js")